body{
    font-family: poppins;
    margin: 0;
}
#top-banner{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: cover;
}
.orange-highlight{
    color: darkorange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
    font-weight: 600;
}

.half-width{
    width: 40%;
    padding-left: 3%;
    margin-left: 5%;
    float: left;
}
.half-width img{
    width: 100%;
}
.hire-btn {
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 30px;
    width: 150px;
    font-family: poppins;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}
#dream-area{
    margin-top: 7%;
    height: 500px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.resume-btn{
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 50px;
    width: 150px;
    font-family: poppins;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}
.dream-text p{
    width: 85%;
}
#experience-area{
    margin-top: 7%;
    height: 500px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
.exp-box{
    height: 70%;
    box-shadow: 10px 10px 40px grey;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(122, 213, 255), rgb(43, 101, 209));
    border-image-slice: 1;
}
footer{
    color: black;
    background-color: gray;
    text-align: center;
    font-size: 12px;
}